DEBUG=False
SECRET_KEY=gerar-uma-chave-longa-unica-e-secreta
ALLOWED_HOSTS=nhakalitica.gw,www.nhakalitica.gw
PUBLIC_BASE_URL=https://nhakalitica.gw
KALITICA_CONTACT_EMAIL=info@nhakalitica.gw
KALITICA_ADMIN_EMAILS=info@nhakalitica.gw
DATABASE_ENGINE=postgresql
DATABASE_NAME=kalitica
DATABASE_USER=kalitica
DATABASE_PASSWORD=alterar-em-producao
DATABASE_HOST=postgres
DATABASE_PORT=5432
MEDIA_ROOT=/var/lib/kalitica/media
DEFAULT_FROM_EMAIL=Kalitica Networking Society <noreply@nhakalitica.gw>
EMAIL_BACKEND=django.core.mail.backends.smtp.EmailBackend
EMAIL_HOST=smtp.example.com
EMAIL_PORT=587
EMAIL_HOST_USER=
EMAIL_HOST_PASSWORD=
EMAIL_USE_TLS=True
CSRF_TRUSTED_ORIGINS=https://nhakalitica.gw,https://www.nhakalitica.gw
