DEBUG=True
SECRET_KEY=alterar-em-producao
ALLOWED_HOSTS=localhost,127.0.0.1
PUBLIC_BASE_URL=https://nhakalitica.gw
KALITICA_CONTACT_EMAIL=info@nhakalitica.gw
KALITICA_ADMIN_EMAILS=info@nhakalitica.gw
DATABASE_ENGINE=sqlite
DATABASE_NAME=
DATABASE_USER=
DATABASE_PASSWORD=
DATABASE_HOST=
DATABASE_PORT=5432
DEFAULT_FROM_EMAIL=Kalitica Networking Society <noreply@nhakalitica.gw>
EMAIL_BACKEND=django.core.mail.backends.smtp.EmailBackend
EMAIL_HOST=localhost
EMAIL_PORT=587
EMAIL_HOST_USER=
EMAIL_HOST_PASSWORD=
EMAIL_USE_TLS=True
CSRF_TRUSTED_ORIGINS=https://nhakalitica.gw,https://www.nhakalitica.gw
